%div.stepwrap
  %div.heading
    %div.heading__logo
      =image_tag "fmarket_logo_red.svg", size: "185x49", alt: "logo"
    %div.progress-status
      %ul.progress
        %li.is-active
          会員情報
          %div{"data-step" => ""}
        %li
          電話番号認証
          %div{"data-step" => ""}
        %li
          お届け先住所入力
          %div{"data-step" => ""}
        %li
          支払い方法
          %div{"data-step" => ""}
        %li.progress__last
          完了
          %div{"data-step" => ""}
  %div.user-title
    会員情報入力
  %div.user-text    
    %div.uesr-text__flame
      %div.user-text__flame--small
        ニックネーム 
      %div.user-text__flame--require
        必須
    %input{:name => "nickname", :placeholder => "例) メルカリ太郎", :type => "text", :value => "", :class => "user-place"}  
    %div.uesr-text__flame 
      %div.user-text__flame--small
        メールアドレス    
      %div.user-text__flame--require
        必須        
    %input{:name => "", :placeholder => "PC・携帯どちらでも可  ", :type => "text", :value => "", :class => "user-place"}  
    %p.user-text__note ※ 英字と数字の両方を含めて設定してください   
    %div.user-checkbox
      %input{type: "checkbox", name: "checkbox", class: "user-checkbox__box", id: "chkbox"}
      %label{for: "chkbox", class: "user-checkbox__text"} パスワードを表示する
    %div.uesr-text__flame
      %div.user-text__flame--small
        パスワード    
      %div.user-text__flame--require
        必須
    %input{:name => "password", :placeholder => "7文字以上の半角英数字", :type => "text", :value => "", :class => "user-place"}        
    %div.uesr-text__flame
      %div.user-text__flame--small
        本人確認
      %div.user-text__flame--text 
        安心・安全にご利用いただくために、お客さまの本人<br>情報の登録にご協力ください。他のお客さまに公開さ<br>れることはありません 
    %div.uesr-text__flame 
      %div.user-text__flame--small
        お名前（全角）    
      %div.user-text__flame--require
        必須       
    %div.user-name
      %form
        %input{:name => "user-name", :placeholder => "例)山田", :type => "text", :value => "", :class => "user-name__text1"}        
      %form
        %input{:name => "user-name", :placeholder => "例)彩", :type => "text", :value => "", :class => "user-name__text2"}        
    %div.uesr-text__flame 
      %div.user-text__flame--small
        お名前カナ（全角）    
      %div.user-text__flame--require
        必須       
    %div.user-name
      %form
        %input{:name => "user-name", :placeholder => "例)山田", :type => "text", :value => "", :class => "user-name__text1"}        
      %form
        %input{:name => "user-name", :placeholder => "例)彩", :type => "text", :value => "", :class => "user-name__text2"}        
    %div.user-text__flame--small
      生年月日   
      %div.user-text__flame--require
        必須       
    %div.uesr-text__flame 

    -# ここに生年月日をお願いします
    %p.user-text__note ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

    %div.g-recaptcha{"data-callback" => "clearcall", "data-sitekey" => "6Lc7ccYUAAAAAFd6H9n4KZ-HTY5_bwk4TfCyOMWo"}

    %div.user-text__flame--text 
      「次へ進む」のボタンを押すことにより、  利用規約に<br>に同意したものとみなします
    %input{:name => "phone-button", :type => "submit", :value => "次へ進む", :class => "user-btn"}
    %div.user-text__flame--link 
      本人情報の登録について>
  %footer.footer-register
    .footer-contetns
      %nav
        %ul.exp
          %li.exp__list
            %a{href: "#"} プライバシーポリシー
          %li.exp__list
            %a{:href => "#"} メルカリ利用規約
          %li.exp__list
            %a{:href => "#"} 特定商取引に関する表記
      .logo
        %a{:href => "#"}
          =image_tag "logo_gray.svg",  size: "140x70", alt: "logo"
        %p © Mercari, Inc.


