%div.stepwrap
  %div.heading
    %div.heading__logo
      =image_tag "fmarket_logo_red.svg", size: "185x49", alt: "logo"
    %div.progress-status
      %ul.progress
        %li.is-active
          会員情報
          %div{"data-step" => ""}
        %li
          電話番号認証
          %div{"data-step" => ""}
        %li
          お届け先住所入力
          %div{"data-step" => ""}
        %li
          支払い方法
          %div{"data-step" => ""}
        %li.progress__last
          完了
          %div{"data-step" => ""}
  %div.user-title
    会員情報入力
  %div.user-text    
    %div.uesr-text__flame
      %div.user-text__flame--small
        ニックネーム 
      %div.user-text__flame--require
        必須
    %input{:name => "nickname", :placeholder => "例) メルカリ太郎", :type => "text", :value => "", :class => "user-place"}  
    %div.uesr-text__flame 
      %div.user-text__flame--small
        メールアドレス    
      %div.user-text__flame--require
        必須        
    %input{:name => "", :placeholder => "PC・携帯どちらでも可  ", :type => "text", :value => "", :class => "user-place"}        
    %div.uesr-text__flame
      %div.user-text__flame--small
        パスワード    
      %div.user-text__flame--require
        必須
    %input{:name => "password", :placeholder => "6文字以上", :type => "text", :value => "", :class => "user-place"}        
    %div.uesr-text__flame
      %div.user-text__flame--small
        パスワード(確認)    
      %div.user-text__flame--require
        必須
    %form
      %input{:name => "confirm-pass", :placeholder => "6文字以上 ", :type => "text", :value => "", :class => "user-place"}        
      %div.g-recaptcha{"data-callback" => "clearcall", "data-sitekey" => "6Lc7ccYUAAAAAFd6H9n4KZ-HTY5_bwk4TfCyOMWo"}


    %input{:name => "phone-button", :type => "submit", :value => "次へ進む", :class => "user-btn"}
  %footer.footer-register
    .footer-contetns
      %nav
        %ul.exp
          %li.exp__list
            %a{href: "#"} プライバシーポリシー
          %li.exp__list
            %a{:href => "#"} メルカリ利用規約
          %li.exp__list
            %a{:href => "#"} 特定商取引に関する表記
      .logo
        %a{:href => "#"}
          =image_tag "logo_gray.svg",  size: "140x70", alt: "logo"
        %p © Mercari, Inc.


