.footer
  .footer-contetns
    %nav
      %ul.exp
        %li.f-regist
          %a{:href => "#", class: "f-regist-link"} プライバシーポリシー
        %li.f-regist
          %a{:href => "#", class: "f-regist-link"} メルカリ利用規約
        %li.f-regist
          %a{:href => "#", class: "f-regist-link"} 特定商取引に関する表記
    .logo
      %a{:href => "#", class: "logo-regist-link"}
        = image_tag "logo_gray.svg",size: "140x70"
    %p © Mercari, Inc.







    