.footer
  .footer-contetns
    %nav
      %ul.exp
        %li.f-regist
          =link_to " プライバシーポリシー", "#", class: "f-regist-link"
        %li.f-regist
          =link_to " プライバシーポリシー", "#", class: "f-regist-link"
        %li.f-regist
          =link_to " プライバシーポリシー", "#", class: "f-regist-link"
    .logo
      =link_to  "#", class:"logo-regist-link" do
        = image_tag "logo_gray.svg",size: "140x70"
    %p © Mercari, Inc.







    