.footer
  .footer-contetns
    %nav
      %ul.exp
        %li
          %a{:href => "#"} プライバシーポリシー
        %li
          %a{:href => "#"} メルカリ利用規約
        %li
          %a{:href => "#"} 特定商取引に関する表記
    .logo
      %a{:href => "#"}
        = image_tag "logo_gray.svg",size: "140x70"
    %p © Mercari, Inc.







    