.regist-contents
  .regist-contents__header
    %div.regist-contents__header__text
      会員登録完了
  .regist-contents__center
    %div.regist-contents__center__text
      ありがとうございます 
      %br
      会員登録が完了しました。
  .regist-contents__bottom
    %a{:class => "regist-contents__bottom__btn", :href => "#"}
      メルカリを始める

