.heading{
  width: 100vw;
  height: 128px;
  display: flex;
  background-color: rgb(245, 245, 245);
  &__logo{
    margin-left: 335px;
    padding-top: 40px;
  }
}
.progressbar__status{
  display: flex;
  width: 508px;
  height: 32px;
  margin-left: 50px;
}
$complete: RED;
$active: RED;
$mute: rgb(204,204,204);
.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 200px;
  color: darken($mute, 33%);
  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em;
    padding-top: 20px;
    width: 127px;
    &:before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background-color: $mute;
      width: 10px;
      height: 10px;
      text-align: center; //IE8 doesn't inherit this style
      margin-bottom: 0.5em;
      line-height: 2em;
      border-radius: 100%;
      position: relative;
      z-index: 1000;
      bottom: -43.5px;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background-color: $mute;
      width: 100%;
      height: 3px;
      bottom: -15px;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: 1;
    }
    &:last-child:after {
      display: none;
    }
    &.is-complete {
      color: $complete;
      
      &:before,
      &:after {
        color: #FFF;
        background: $complete;
      }
    }
    &.is-active {
      color: $active;
      
      &:before {
        color: #FFF;
        background: $active;
        
      }
    }
  }
}
  /**
   * Needed for IE8
   */
  .progress__last:after {
    display: none!important;
  }
/**
 * Some Generic Stylings
 */
*, *:after, *:before {
  box-sizing: border-box;
}
.progress {
  margin-bottom: 3em;
}
.regist-contents{
  width: 456px;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  background-color: white;

  .regist-contents__header{
    height:55px;
    line-height: 55px;
    font-size: 1.2rem;
    border-bottom: solid 1px #eeeeee;
    
    &__text{
      font-weight: bold;
    }
  }
  
  .regist-contents__center{
    height: 110px;
   
    &__text{
      padding-top: 30px;
    }
  }

  .regist-contents__bottom{
    height: 55px;
    line-height: 55px;

    &__btn{
      background-color: #ea352d;
      padding: 18px 110px;
      color: white;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
      }
    }
  }
}

.regist-figure{
  text-align: center;
  margin-top: 30px;
  position: relative;

 

  .regist-figure-content{
    position: absolute;
    right: 550px;
    top: 20px;
    color: white;

    .regist-figure-text-top{
     font-size: 18px;
    }
    .regist-figure-text-main{
      font-size: 30px;
    }
  }
  .regist-figure-store{
    display: flex;
    position: absolute;
    top: 0;
    left: 485px;

    .regist-figure-app{
      padding-top:33px;
    }
   }

  #figure-hidden{
    overflow: hidden;
    height: 300px;/* トリミングしたい枠の高さ */
  }

  &__inner{
    position: absolute;
    bottom: 3px;
    right: 494px;
  }
}
