= render 'layouts/header_login'
.credit-container
  = render 'layouts/mypageSidebar'
  %div
    .credit-info-content
      %section.credit-chapter-container
        %h2.credit-chapter-head 支払い方法
        .credit-single-inner
          %section
            .credit-single-content
              %h3.credit-chapter-sub-head クレジットカード一覧
            %ul.settings-credit-list
              %li
                %form.credit-single-content{action: "#", method: "POST"}
                  %figure
                    %img{alt: "visa", height: "15", src: "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1215422380", width: "49"}/
                  %input{name: "__csrf_value", type: "hidden", value: ""}/
                  %input{name: "card_sequence_no", type: "hidden", value: ""}/
                  .settings-credit-num ************1234
                  .settings-credit-num 01 / 01
                  %input{name: "method", type: "hidden", value: "#"}/
                  %button.settings-credit-remove{type: "submit"}
                    削除する
          .settings-not-regist-credit
            %a{href: "#", target: "_blank"}
              %span 支払い方法について
              %i.fas.fa-chevron-right
= render 'layouts/footer'
