<div class = "wrapper-goods-detail">
  <div class="item-box-container-detail">
    <h1 class="item-name-detail">ジャスティンデイビス  チェルシー  リング</h1>
    <div class="item-main-content-detail">
      <div class="item-photo-detail">
        <div class="item-photo-content">
        <img src="https://static.mercdn.net/item/detail/orig/photos/m94710231276_1.jpg?1576032551" class="main-img", alt="ジャスティンデイビス　チェルシー　リング" 
             style="opacity: 1;">
        </div>
        <div class="item-dots">
          <div class="item-dot is-active">
            <img src="https://static.mercdn.net/item/detail/orig/photos/m94710231276_1.jpg?1576032551">
          </div>
          <div class="item-dot">
            <img src="https://static.mercdn.net/item/detail/orig/photos/m16654911626_2.jpg?1575785829">
          </div>
          <div class="item-dot">
            <img src="https://static.mercdn.net/item/detail/orig/photos/m16654911626_2.jpg?1575785829">
          </div>
          <div class="item-dot">
            <img src="https://static.mercdn.net/item/detail/orig/photos/m16654911626_2.jpg?1575785829">
          </div>
          <div class="item-dot">
            <img src="https://static.mercdn.net/item/detail/orig/photos/m16654911626_2.jpg?1575785829">
          </div>
          <div class="item-dot">
            <img src="https://static.mercdn.net/item/detail/orig/photos/m16654911626_2.jpg?1575785829">
          </div>
        </div>
      </div>
      <table class="item-detail-table">
        <tbody class= "table-body">
          <tr>
            <th>出品者</th>
            <td>
              <a href="#">みつき</a>
              <div>
                <div class="item-user-ratings">
                  <i class="far fa-smile-beam"></i>
                  <span>28</span>
                </div>
                <div class="item-user-ratings">
                  <i class="far fa-meh"></i>
                  <span>0</span>
                </div>
                <div class="item-user-ratings">
                  <i class="far fa-frown"></i>
                  <span>0</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <th>カテゴリー</th>
            <td>
              <a href="#">
                <div>レディース</div>
              </a>
              <a href="#">
                <div class="item-detail-table-sub-category">
                  <i class="icon-arrow-right"></i> アクセサリー
                </div>
              </a>
              <a href="#">
                <div class="item-detail-table-sub-sub-category">
                  <i class="icon-arrow-right"></i> リング
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <th>ブランド</th>
            <td>
              <a href="#">
                <div>
                  ジャスティン デイビス
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <th>商品の状態</th>
            <td>未使用に近い</td>
          </tr>
          <tr>
            <th>配送料の負担</th>
            <td>送料込み(出品者負担)</td>
          </tr>
          <tr>
            <th>配送の方法</th>
            <td>ゆうゆうメルカリ便</td>
          </tr>
          <tr>
            <th>配送元地域</th>
            <td>
              <a href="#">東京都</a>
            </td>
          </tr>
          <tr>
            <th>発送日の目安</th>
            <td>1~2日で発送</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="item-price-box">
      <span class="item-rice-detail">¥11,111</span>
      <span class="item-tax"> (税込)</span>
      <span class="item-shipping-fee">送料込み</span>
    </div>
    <a class="item-buy-btn" href="#">
      購入画面に進む
    </a>
        
    <div class="item-description">
      <p class="item-description-inner">
        ご覧いただきましてありがとうございます

        数年前に新宿伊勢丹で購入してから
        ほとんど使用せず保管しておりました。
        趣味の系統が変わりましたので
        大切にしてくださるかたにお譲りします。

        傷等は見受けられず、歪みもありません。
        クラウンとジルコニアが1周している珍しいデザインです。

        ジャスティンデイビス　CHERISHw/stone
        13号
        定価/30,800

        裏抜きがありますので、若干サイズが上でも入るようです。
        私の手だと親指でも入りました。
      </p>
    </div>
    <div class="item-button-container">
      <div class="item-button-left">
        <button type="button" name="like!" data-toggle="like" data-id="m16654911626" data-ga="element" data-ga-category="LIKE" data-ga-label="like!" class="item-button item-button-like">
          <i class="far fa-heart"></i>
          <span>いいね!</span>
          <span data-num="like" class="fade-in-down">3</span>
        </button>
        <a href="" data-modal="report-item" data-open="modal" class="item-button item-button-report">
          <i class="far fa-flag"></i>
          <span>不適切な商品の報告</span>
        </a>
        <input type="hidden" name="like_add_url" value="https://www.mercari.com/jp/like/add/m16654911626/">
        <input type="hidden" name="like_del_url" value="https://www.mercari.com/jp/like/delete/m16654911626/">
        <input type="hidden" name="__csrf_value" value="93cdc6f0d785c8a48e96064e06225abf69de67f1440fa8333e17928cacc0e41c2f914616368466a0c956c0b7cd12b8c51b68cfd345f11e933657af1915784d798">
      </div>
      <div class="item-button-right">
        <a href="#" target="_blank">
          <i class="fas fa-lock"></i>
          <span>あんしん・あんぜんへの取り組み</span>
        </a>
      </div>
    </div>
  </div>
  <div class="item-detail-message">
    <div class="message-container-detail">
      <div class="message-content-detail">     
        <ul class="message-items-detail">
          <li class="clearfix-list">
            <a href="https://www.mercari.com/jp/u/610527816/" class="message-user-detail">
              <figure>
                <div class= "face-detail">
                  <img src="//static.mercdn.net/images/member_photo_noimage_thumb.png" alt="">
                </div>
                <figcaption>
                  マシュマシュ
                </figcaption>
              </figure>
            </a>        
            <div class="message-body-detail">
              <div class="message-body-text">こんにちは<br><br>一枚目のデニム  ですか？
              </div>
              <div class="message-icons-detail">
                <time class="message-icon-left">
                  <i class="far fa-clock"></i>
                  <span>33 分前</span>
                </time>
                <div class="message-icon-right">
                  <form action="https://www.mercari.com/jp/comment/report/m18492380364/2444581889/" method="POST">
                    <button type="submit">
                      <i class="far fa-flag"></i>
                    </button>
                    <input type="hidden" name="redirect_url_key" value="item_detail">
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="message-content-detail">         
        <form action="https://www.mercari.com/jp/comment/add/" method="POST" class="message-form-detail">
          <input type="hidden" name="__csrf_value" value="93cdc6f0d785c8a48e96064e06225abf69de67f1440fa8333e17928cacc0e41c2f914616368466a0c956c0b7cd12b8c51b68cfd345f11e933657af1915784d798">
          <p>相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。</p>
          <input type="hidden" name="item_id" value="m16654911626">
          <input type="hidden" name="redirect_url_key" value="item_detail">
          <textarea type="text" name="body" value="" class="textarea-detail"></textarea>
          <button type="submit" class="message-submit-detail">
            <span>コメントする</span>
          </button>
        </form>
      </div>
    </div>
  </div>
  <ul class="nav-item-link-prev-next">
    <li class="nav-item-link-prev">
      <a href="#"><i class="fas fa-chevron-left"></i>古酒　琉球泡盛　沖之光　オキノヒカリ　新品</a>
    </li>
    <li class="nav-item-link-next">
      <a href="#">「恋と結婚」を引き寄せる!<i class="fas fa-chevron-right"></i></a>
    </li>
  </ul>
  <div class="item-social-media-box">
    <ul class="social-media-box-detail">
      <li>
        <a href="#" target="_blank" class="share-btn-detail" data-window-name="facebook_window">
          <i class="fab fa-facebook-square"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="share-btn-detail" data-window-name="twitter_window">
          <i class="fab fa-twitter-square"></i>
        </a>
      </li>
      <li>
        <a href="#" target="_blank" class="share-btn-detail" data-window-name="pinterest_window">
          <i class="fab fa-pinterest-square"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="items-in-user-profile">
    <h2 class="items-box-head-detail">
      <a href="https://www.mercari.com/jp/u/623965993/">パンダ(☆∀☆)さんのその他の出品</a>
    </h2>
    <div class = "items-box-content-detail">
      <section class="items-box-detail">
        <a href="https://item.mercari.com/jp/m84152729616/">
          <figure class="items-box-photo-detail">
            <img data-src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481" class="lazyloaded is-higher-width" alt="冬ウールスカート" src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481">
          </figure>
          <div class="items-box-body-detail">
            <h3 class="items-box-name-detail">冬ウールスカート</h3>
            <div class="items-box-num-detail">
              <div class="items-box-price-detail">¥1,000</div>
              <div class="font-2-detail">
                <i class="far fa-heart fa-heart2"></i>
                <span>1</span>
              </div>
            </div>
          </div>
        </a>
      </section>
      <section class="items-box-detail">
        <a href="https://item.mercari.com/jp/m84152729616/">
          <figure class="items-box-photo-detail">
            <img data-src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481" class="lazyloaded is-higher-width" alt="冬ウールスカート" src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481">
          </figure>
          <div class="items-box-body-detail">
            <h3 class="items-box-name-detail">冬ウールスカート</h3>
            <div class="items-box-num-detail">
              <div class="items-box-price-detail">¥1,000</div>
              <div class="font-2-detail">
                <i class="far fa-heart fa-heart2"></i>
                <span>1</span>
              </div>
            </div>
          </div>
        </a>
      </section>
      <section class="items-box-detail">
        <a href="https://item.mercari.com/jp/m84152729616/">
          <figure class="items-box-photo-detail">
            <img data-src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481" class="lazyloaded is-higher-width" alt="冬ウールスカート" src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481">
          </figure>
          <div class="items-box-body-detail">
            <h3 class="items-box-name-detail">冬ウールスカート</h3>
            <div class="items-box-num-detail">
              <div class="items-box-price-detail">¥1,000</div>
              <div class="font-2-detail">
                <i class="far fa-heart fa-heart2"></i>
                <span>1</span>
              </div>
            </div>
          </div>
        </a>
      </section>
      <section class="items-box-detail">
        <a href="https://item.mercari.com/jp/m84152729616/">
          <figure class="items-box-photo-detail">
            <img data-src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481" class="lazyloaded is-higher-width" alt="冬ウールスカート" src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481">
          </figure>
          <div class="items-box-body-detail">
            <h3 class="items-box-name-detail">冬ウールスカート</h3>
            <div class="items-box-num-detail">
              <div class="items-box-price-detail">¥1,000</div>
              <div class="font-2-detail">
                <i class="far fa-heart fa-heart2"></i>
                <span>1</span>
              </div>
            </div>
          </div>
        </a>
      </section>
    </div>
  </div>
  <div class="items-in-user-profile2">
    <h2 class="items-box-head-detail">
      <a href="https://www.mercari.com/jp/u/623965993/">パンダ(☆∀☆)さんのその他の出品</a>
    </h2>
    <div class = "items-box-content-detail">
      <section class="items-box-detail">
        <a href="https://item.mercari.com/jp/m84152729616/">
          <figure class="items-box-photo-detail">
            <img data-src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481" class="lazyloaded is-higher-width" alt="冬ウールスカート" src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481">
          </figure>
          <div class="items-box-body-detail">
            <h3 class="items-box-name-detail">冬ウールスカート</h3>
            <div class="items-box-num-detail">
              <div class="items-box-price-detail">¥1,000</div>
              <div class="font-2-detail">
                <i class="far fa-heart fa-heart2"></i>
                <span>1</span>
              </div>
            </div>
          </div>
        </a>
      </section>
      <section class="items-box-detail">
        <a href="https://item.mercari.com/jp/m84152729616/">
          <figure class="items-box-photo-detail">
            <img data-src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481" class="lazyloaded is-higher-width" alt="冬ウールスカート" src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481">
          </figure>
          <div class="items-box-body-detail">
            <h3 class="items-box-name-detail">冬ウールスカート</h3>
            <div class="items-box-num-detail">
              <div class="items-box-price-detail">¥1,000</div>
              <div class="font-2-detail">
                <i class="far fa-heart fa-heart2"></i>
                <span>1</span>
              </div>
            </div>
          </div>
        </a>
      </section>
      <section class="items-box-detail">
        <a href="https://item.mercari.com/jp/m84152729616/">
          <figure class="items-box-photo-detail">
            <img data-src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481" class="lazyloaded is-higher-width" alt="冬ウールスカート" src="https://static.mercdn.net/thumb/photos/m84152729616_1.jpg?1542253481">
          </figure>
          <div class="items-box-body-detail">
            <h3 class="items-box-name-detail">冬ウールスカート</h3>
            <div class="items-box-num-detail">
              <div class="items-box-price-detail">¥1,000</div>
              <div class="font-2-detail">
                <i class="far fa-heart fa-heart2"></i>
                <span>1</span>
              </div>
            </div>
          </div>
        </a>
      </section>
    </div>
  </div>
</div>
