.c-crum{
  position: relative;
  border-top: 1px solid #eee;
  background: #f5f5f5;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  height: 50px;
}

.c-contents{
  margin: 40px auto 0;
  width: 1020px;
  height: 100vh;

  .c-main-content{
    float: right;
    width: 700px;
    background-color: white;

    .c-content{
      font-size: 24px;
      font-weight: bold;
      padding: 8px 24px;
      text-align: center;
      border-bottom: solid 1px #f5f5f5;
      line-height: 1.4;
    }

    .c-card-list{
      padding: 64px;
      border-top: solid 1px #f5f5f5;

      .c-card-list-head{
        max-width: 320px;
        margin: 0 auto;

        &__text{
          font-weight: bold;
        }
      }
    }
  }
}
