.endshop{
  height: 100vh;
  padding: 300px 400px;
  background: silver;
  .endshop-text{
    padding-top: 50px;
    background: #FF8856;
    height: 100%;
    text-align: center;
    font-size: 30px;
    .return-top{
      color: white;
    }
  }
}
