.exhibit-content{
  float: right;
  width: 700px;
  margin: 40px auto 0;
}

.exhibit-tab-top{
  width: 700px;
  height: 72px;
  padding: 0 16px;
  &-listing{
    width: 700px;
    height: 74px;
    border: 0;
    background: #eee;
    display: flex;
    .active{
      width: 233.09px;
      height: 74px;
      background-color: #fff;
      font-size: 22px;
    }
    li{
      width: 233.09px;
      height: 74px;
      font-size: 22px;
    }
  }
}
.tab{
  .exhibit-tab-transaction-now.exhibit-item-list{
    display: block;
    .exhibit-item-link{
      display: block;
      width: 668px;
      height: 51px;
      padding: 16px;
      color: #333;
    }
  }
}

.exhibit-history.pager{
  margin: 40px 0 0;
  width: 700px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  .pager-prev{
    left: 0;
  }
  .pager-next {
    right: 0;
  }
  .pager-cell a {
    display: block;
    color: #333;
  }
  .pager-prev i, .pager-next i {
    position: relative;
    top: 0.15em;
  }
}
