*{
  margin: 0;
  padding: 0;
}
.wrapper-buy{
  background-color: whitesmoke;
}

.buy-main{
  display: block;
}

.buy-item-container{
  width: 700px;
  margin: 0 auto;
  background: #fff;
}

.buy-head{
  font-size: 22px;
  padding: 32px;
  line-height: 1.5;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #333333;
}

.buy-item-content{
  text-align: center;
  padding: 32px 16px;
  border-top: 1px solid #f5f5f5;
}

.buy-content-inner{
  max-width: 343px;
  margin: 0 auto;
}

.buy-item-box{
  display: flex;
}

.buy-item-image{
  height: 80px;
  width: 80px;
  min-width: 80px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 22px;
}

.buy-item-image-detail{
  width: auto;
  max-height: 80px;
  opacity: 1;
  transition: opacity .3s;
  vertical-align: middle;
}

.buy-item-detail{
  margin-left: 16px;
}

.buy-item-name{
  font-size: 14px;
  margin: 0;
  padding: 0 0 8px;
  line-height: 1.5;
  text-align: left;
}

.buy-price-ja{
  margin: 0;
  text-align: left;
  font-size: 15px;
  font-weight: 600;
}

.buy-price-table{
  display: table;
  border-collapse: collapse;
  width: 100%;
}

.buy-you-pay{
  font-size: 30px;
  font-weight: 600;
}

.buy-price-row{
  display: table-row;
}

.buy-price-cell{
  display: table-cell;
  padding: 0;
  text-align: right;
}

.buy-price-cell:first-child{
  text-align: left;
}

.buy-price-cell-label{
  font-size: 18px;
}

.buy-accordion{
  margin: 24px 0 32px;
}

.buy-not-have-point{
  color: #888;
}

.buy-use-point{
  text-align: left;
  display: block;
  font-size: 0;
}

.fa-square{
  color: #ccc;
  background: #ccc;
  width: 18px;
  height: 18px;
  border-radius: 2px;
  border: 1px solid #ccc;
  font-size: 10px;
  vertical-align: middle;
}

.buy-use-point label{
  cursor: default;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  padding: 0 0 0 10px;
}

.buy-user-info{
  margin: 0;
  font-size: 14px;
  border-top: 1px solid #f5f5f5;
  padding: 32px 0;
  transition: all ease-out .3s;
  text-align: left;
}

.buy-user-info a{
  color: #0099e8;
  text-decoration: none;
  touch-action: manipulation;
}

.buy-user-info-text{
  line-height: 1.5;
  text-align: left;
  margin: 8px 0 0;
  font-size: 14px;
}

.buy-register-text{
  margin: 0 0 0 4px;
}

.buy-content-deliver{
  display: flex;
  justify-content: space-between;
}

.buy-user-info:last-of-type{
  padding-bottom: 0;
}

.btn-buy{
  border: 1px solid #888;
  background: #888;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
}

.item-edit-btn{
  color:#333;
  background-color: #ccc;
  font-size: 24px;
  line-height: 60px;
  display: block;
  margin-top: 16px;
  text-align: center;
  font-weight: 600;
  transition: all ease-out .3s;
}

.edit_or{
  text-align: center;
  margin: 30px 0;
}