.mypage-test {
  width: 100%;
  height: 100%;
  background-color: #eee;
}
.mypage-contents{
  margin: 40px auto 0 auto;
  display: flex;
  width: 1020px;
  padding-bottom: 40px;
}
.l-content{
  width: 740px;
  height: 567px;
}

.l-container{
  width:100vw;
}

.mypage-l-content {
  display: flex;
  flex-direction: column;
}

.l-content-top{
  width: 700px;
  height: 0;
  margin-left: 40px;
  background-color: #fff;
}

.mypage-user-icon{
  height: 160px;
  width: 660px;
  position: relative;
  padding: 20px 20px 20px 20px;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.mypage-user-icon>a {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
  color: #333;
}
.mypage-user-icon figure {
  overflow: hidden;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  border-radius: 50%;
}
.mypage-user-icon h2 {
  margin: 8px 0 0;
  font-size: 14px;
}
.mypage-number {
  margin: 8px 0 0;
  font-size: 0;
}
.mypage-number div {
  display: inline-block;
  font-size: 14px;
}
.mypage-number span {
  margin: 0 0 0 8px;
  font-size: 16px;
}
.mypage-number div+div {
  margin: 0 0 0 16px;
}
.mypage-tab-container {
  margin: 0;
  background: #fff;
}
.mypage-tabs{
  border: 0;
  background: #eee;
  font-size: 0;
  width: 700px;
  height: 74px;
}
.mypage-tabs li.active{
  background: #fff;
  margin: 0;
  width: 350px;
  height: 72px;
}
.mypage-tabs li.active a{
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
  text-decoration: none;
  text-align: center;
}
.mypage-tabs li{
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  font-size: 16px;
}
.tab-content{
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 0;
}
.tab-content .tab-pane.active {
  display: block;
}
.mypage-go-list{
  width: 668px;
  height: 56px;
  margin: 0;
  padding: 16px 16px 16px 16px;
  list-style: none;
}
.mypage-go-list a {
  display: block;
  height: 56px;
  margin: 0 auto;
  background: #eee;
  color: #333;
  line-height: 56px;
  text-align: center;
  text-decoration: none;
  font-size:16px;
  margin: 0 0 auto;
}
.mypage-item-list li{
  position: relative;
  border-bottom: 1px solid #eee;
  width: 700px;
  height: 80px;
}
.mypage-list-list{
  margin: 0;
  position: relative;
  border-bottom: 1px solid #eee;
  list-style: none;
  top: 0;
  padding: 16px;
}
.l-content-bottom{
  width: 700px;
  // height: 382px;
  margin: 40px 0 0;
  background: #fff;
}
.mypage-tab-head-wrpper{
  padding: 0 16px;
  width: 668px;
  height: 72px;
  line-height: 72px;
}
.mypage-tabs{
  border: 0;
  background: #eee;
  font-size: 0;
}
.mypage-tabs a{
  // border-top: 2px solid #ea352d;
  position: relative;
  display: block;
  color: #333;
  font-size: 16px;
  line-height: 72px;
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}
.mypage-tabs a:hover{
  border-top: 2px solid #ea352d;
  background-color: #fff;
}
.mypage-tabs a.a{
  // border-top: 2px solid #ea352d;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 72px;
  text-decoration: none;
  background-color: rgb(245, 245, 245);
}
.mypage-tabs a.a:hover{
  border-top: 2px solid #ea352d;
  background-color: #fff;
}
.mypage-item-not-fund.bold{
  position: relative;
  border-bottom: 1px solid #eee;
  width: 700px;
  height: 236px;
  text-align: center;
  top: 155px;
}

