.stepwrap{
  background-color: rgb(245, 245, 245);
  width: 100vw;
  height: 100%;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
}

.phone-confirm{
  width:700px ;
  height: 600px;
  background-color: #fff;
  margin: 0 auto;
  &__title{
    border-bottom: rgb(229, 228, 228) 1px solid;
    width: 100%;
    height: 70px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
  }
  &__small{
    font-size: 15px;
    font-weight: bold;
    padding: 50px 0 0 150px;
  }
  &__text{
    font-size: 13px;
    margin:10px 0 0 150px;
  }
}

.place{
  width: 400px;
  height: 50px;
  border-radius:2%/ 10%;
  border:1px rgb(207, 207, 207) solid;
  margin: 0 150px 0;
}
.phone-btn{
  width: 400px;
  height: 50px;
  background-color: red;
  color: white;
  margin :50px 0 0 150px
}


.footer-register{
  width: 100%;
  height: 220px;
  margin: 0 auto;
  text-align: center;
  bottom: 0;
  .exp{
    padding-top: 45px;
    margin-bottom: 30px;
    &__list{
      color: #333;
      font-size: 12px;
      display: inline-block;
      margin: 0 0 0 16px;
      a{
        color: #333;
        &:hover{
          opacity: 0.7;
          text-decoration: underline;
        }
      }
    }
  }
  .footer-contents{
    text-align: center;
    .logo{
      margin-top: 40px;
      width: 80px;
      height: 65px;
    }
  }
   img:hover{
    opacity: 0.7;
  }
  p{
    padding-top: 5px;
    font-size: 11px;
  }
}
a{
  text-decoration: none;
}
