.user-registration {
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
}

.user-title{
  height: 100px;
  margin: 0 auto;
  border-bottom: rgb(229, 228, 228) 1px solid;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  line-height: 100px;
  }
  
.user-text{
  width: 600px;
  &__flame{
    &--small{
      display: inline-block;
      font-size: 15px;
      font-weight: bold;
      padding: 20px 0 0 200px;
    }
    &--require {
      display: inline-block;
      color:#fff;
      background-color: red;
      width: 50px;
      height: 20px;
      border-radius: 2%/ 10%;
      text-align: center;
      margin: 0 0 10px 10px;
      line-height: 20px;
    }
    &--text{
      font-size: 13px;
      margin: 0 0 0 200px;
    }
    &--link{
      margin:20px 0 0 380px;
      font-size: 13px;
    }
  }
}

.g-recaptcha{
  margin: 20px 200px;
}
.user-place{
  width: 330px;
  height: 50px;
  border-radius:2%/ 10%;
  border:1px rgb(207, 207, 207) solid;
  margin: 0 200px 0;
  padding: 10px;
}

.user-btn{
  width: 330px;
  height: 50px;
  background-color: red;
  color: white;
  margin :50px 0 0 200px
}

.user-text__note{
  color: rgba(75, 70, 70, 0.596);
  padding-left: 200px;
}

.user-checkbox{
  display:flex;
  &__box{
    transform: scale(1.3);
    margin: 10px 0 0 200px;
  }
  &__text{
    margin: 5px 0 0 10px;
  }
}

.user-name{
  display:flex;
    &__text1{
    width: 180px;
    height: 50px;
    border-radius:2%/ 10%;
    border:1px rgb(207, 207, 207) solid;
    margin: 0 10px 0 200px;
    padding: 10px;
  }
    &__text2{
    width: 180px;
    height: 50px;
    border-radius:2%/ 10%;
    border:1px rgb(207, 207, 207) solid;
    padding: 10px;
  }
}

.new_user {
  background-color: whitesmoke;
}

.user-text__flame--forms {
  padding-left: 200px;
  display: flex;
}

.birth-year {
  width: 100px;
  height: 50px;
  border-radius: 4px;
  border: 1px #cfcfcf solid;
  padding: 10px;
}

.birth-month {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px #cfcfcf solid;
  padding: 10px;
}

.birth-day {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  border: 1px #cfcfcf solid;
  padding: 10px;
}

.user-registration-footer {
  background-color:  whitesmoke;
}

.error_message1 {
  color: red;
  padding-left: 200px;
}

.error_message2 {
  color: red;
  padding-left: 200px;
}

.error_message3 {
  color: red;
  padding-left: 200px;
}

.error_message4 {
  color: red;
  padding-left: 200px;
}

.error_message5 {
  color: red;
  padding-left: 200px;
}

.error_message6 {
  color: red;
  padding-left: 200px;
}

.error_message7 {
  color: red;
  padding-left: 200px;
}

.error_message8 {
  color: red;
  padding-left: 200px;
}

.error_message9 {
  color: red;
  padding-left: 200px;
}

.error_message10 {
  color: red;
  padding-left: 200px;
}