%div.mypage
  %div.mypage-side
    .l-side
      %nav.mypage-nav
        %ul.mypage-nav-list
          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item.active{:href => "/jp/mypage/"}
              マイページ
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/notification/"}
              お知らせ
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/todo/"}
              やりことリスト
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/history/"}
              いいね！一覧
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/sell/"}
              出品する
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/listings/listing/"}
              出品した商品-出品中
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/listings/in/progress"}
              出品した商品-取引中
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/listings/comleted/"}
              出品した商品-売却売却済み
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchase"}
              購入した商品-取引中
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"


          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/purchased"}
              購入した商品-過去の取引
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/news"}
              ニュース一覧
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/review/history"}
              評価一覧
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/help center"}
              ガイド
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

          %li.mypage-nav-list-wrapper
            %a.mypage-nav-list-item{:href => "/jp/mypage/support"}
              お問い合わせ
              %i.icon-arrow-right
              =fa_icon "chevron-right", class: "icon-arrow-right"

      %h3.mypage-nav-head メルペイ
      %ul.mypage-nav-list
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/salse/"}
            残高・振込申請
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/point/"}
            ポイント
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"

      %h3.mypage-nav-head 設定
      %ul.mypage-nav-list
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/profile/"}
            プロフィール
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/deliver/ address"}
            発送元・お届け先住所変更
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/card/"}
            支払い方法
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/email password/"}
            メール/パスワード
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/identification/"}
            本人情報
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/jp/mypage/sms confirmation/"}
            電話番号の確認
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"
        %li.mypage-nav-list-wrapper
          %a.mypage-nav-list-item{:href => "/posts/signout"}
            ログアウト
            %i.icon-arrow-right
            =fa_icon "chevron-right", class: "icon-arrow-right"