%head
  %link{:href => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css", :rel => "stylesheet"}/
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"}
%script{:src => "https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"}
:javascript
  $(document).ready(function(){
      $('.slider').bxSlider({
          auto: true,
          pause: 5000,
      });
  });
%body
  .slider
    %div.slider__image1
    %div.slider__image2　
    %div.slider__image3
      %div.slider__text  
        %p.text1 スマホで 
        %p.text2 かんたん
        %p.text3 フリマアプリ
        %p.text4 メルカリはスマホカメラからすぐに出品できる
        %p.text5 購入時も安心な独自システムのアプリです
      %img.sc-cooIXK.jIxIFl{alt: "slide__image4", :src => "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}




  .container
    .category-container
      %h2.category-title 人気のカテゴリー
      .category-contents-box
        %ul.category-contents
          %li.content
            %a.content1 レディース
          %li.content
            %a.content2 メンズ
          %li.content
            %a.content3 家電・スマホ・カメラ
          %li.content
            %a.content4 おもちゃ・ホビー・グッズ
    .item-container
      .items-box
        .items-heading
          %h3.items-title レディース新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
    .item-container
      .items-box
        .items-heading
          %h3.items-title メンズ新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ

    .item-container
      .items-box
        .items-heading
          %h3.items-title 家電・スマホ・カメラ新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ

    .item-container
      .items-box
        .items-heading
          %h3.items-title おもちゃ・ホビー・グッズ新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
                            
    .brand-container
      %h2.category-title 人気のブランド
      .category-contents-box
        %ul.category-contents
          %li.content
            %a.content1 シャネル
          %li.content
            %a.content2 ルイヴィトン
          %li.content
            %a.content3 シュプリーム
          %li.content
            %a.content4 ナイキ

    .item-container
      .items-box
        .items-heading
          %h3.items-title シャネル新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ

    .item-container
      .items-box
        .items-heading
          %h3.items-title ルイヴィトン新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ

    .item-container
      .items-box
        .items-heading
          %h3.items-title シュプリーム新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ

    .item-container
      .items-box
        .items-heading
          %h3.items-title ナイキ新着アイテム
          %a.items-detail{:href => "#"} もっと見る ＞
        .items-list
          %ul.items
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
            %li.item
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.item-link{:herf => "#"}
                  %figure.item-figure
                    %div{"item-style" => ""}
                      %span.item-price{"aria-label" => "price"}
                        ¥
                        1,400
                      %img.item-img{:alt => "Thumbnail of \"キャスキットソン トートバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m70546996827_1.jpg?1550634924"}/
                    %figcaption
                      %span.item-name
                        キャスキットソン トートバッグ
